<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Rock-Paper-Scissors by DmoRDd</title>
  <link rel="stylesheet" href="/views/styles/style.css">
</head>
<body>
  <h1 id='title'>Taş-Kağıt-Makas</h1>
  <h2 id="desc">Taş, kağıt ve makastan birini seç, kaderini test et!</h2>
  <div id="buttons">
    <button onclick='playGame("taş")'><img src="/images/rock.png" alt="rock"></button>
    <button onclick='playGame("kağıt")'><img src="/images/new-document.png" alt="paper"></button>
    <button onclick='playGame("makas")'><img src="/images/scissors.png" alt="scissors"></button>
    
    <p id='result' hidden></p>
  </div>

  <script>
    const searchParams = new URLSearchParams(location.search);
    const name = searchParams.get('name');

    if (name) {
      document.getElementById('title').innerText = `Welcome ${name}`
    }

    function playGame (option) {
      fetch('/', { method: 'POST', body: option })
        .then(response => response.text())
        .then(text => {
          const resultElement = document.getElementById('result')
          resultElement.innerText = text
          resultElement.hidden = false
        })
    }
  </script>
</body>
</html>